body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos del header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #b22222;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
}

header .logo h1 {
    color: #ffffff;
    font-size: 1.5em;
}

header nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Asegura que los enlaces se ajusten en pantallas pequeñas */
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1em;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

header nav a i {
    margin-right: 8px;
}

header nav a:hover {
    color: #2f2929;
}

/* Estilos del footer */
.footer-rights {
    background-color: #b22222;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}
/* Contenedor general */
.candidate-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
}

/* Contenedor del candidato */
.candidate-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Imagen del candidato */
.candidate-image img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ddd;
}

/* Información del candidato */
.candidate-info {
    flex: 1;
}

.candidate-info h3 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 800;
}

.candidate-info p {
    margin: 10px 0;
    color: #555;
}

/* Flechas de navegación */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}
