body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


/* Navbar */
.navbar {
    background-color: var(--navbar-bg-color, #00bfff); /* Azul vibrante como color por defecto */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff; /* Blanco */
}

.navbar-logo i {
    font-size: 24px;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    list-style: none;
}

.navbar-menu li a {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre icono y texto */
    color: #ffffff; /* Blanco */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.navbar-menu li a:hover {
    color: #ff0050; /* Rosa brillante */
}

/* Estilos del footer */
.footer-rights {
    background-color: #b22222;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.candidate-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.candidate-card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

/* Imagen adaptada */
.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contenido completo */
.card-content {
    padding: 15px;
    text-align: left;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

.card-content p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #444;
    line-height: 1.6;
    text-align: justify;
}

.card-content strong {
    color: #222;
    font-weight: bold;
}

/* Responsividad */
@media (max-width: 768px) {
    .candidate-card {
        width: 90%;
    }
}
