body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos del header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #b22222;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
}

header .logo h1 {
    color: #ffffff;
    font-size: 1.5em;
}

header nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Asegura que los enlaces se ajusten en pantallas pequeñas */
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1em;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

header nav a i {
    margin-right: 8px;
}

header nav a:hover {
    color: #2f2929;
}

/* Estilos del footer */
.footer-rights {
    background-color: #b22222;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}
.candidate-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.candidate-image {
    flex: 1;
    max-width: 200px;
}

.candidate-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.candidate-info {
    flex: 2;
}

.candidate-info h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.candidate-info p {
    margin: 5px 0;
    color: #555;
    line-height: 1.5;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #0056b3;
}
